# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your xAI API Key here for chat and image models: https://console.x.ai/
XAI_API_KEY=****
GOOGLE_API_KEY=****

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a PostgreSQL database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****

# Google OAuth Credentials
GOOGLE_CLIENT_ID=****
GOOGLE_CLIENT_SECRET=****


# Instructions to create a Redis store here:
# https://vercel.com/docs/redis
REDIS_URL=****

# Stripe Credentials
STRIPE_SECRET_KEY=****
# Use subscription price IDs for the plans below
STRIPE_PRICE_BASIS_ID=****
STRIPE_PRICE_PLUS_ID=****
STRIPE_PRICE_TOP_ID=****

# Base URL of your deployed application
NEXT_PUBLIC_APP_URL=****

# Domain checker API
DOMAIN_API_URL=http://161.35.152.9:8000
DOMAIN_API_KEY=alksdfjoij09U908FHSFJoidhf9s8dfh9g87buvweuih87329UFI
